<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../Statics/style.css">
</head>
<body>
  <div class="container">
    <div class="box">
      <div class="titulo">
          <h1>Login</h1> 
      </div>
      <div class="tableinfos">
        <form action="http://192.168.0.196:5000/login" method="post" class="form">
          <h3>Email</h3>
            <input type="text" name="username" placeholder="Insira seu nome" class="campos">
          <h3>Senha</h3>  
            <input type="password" name="password" placeholder="Insira sua senha" class="campos">
            <input type="submit" value="Login" class="btn">            

        </form>
      </div>
    </div>
  </div>
</body>
</html>